-r requirements.txt
coverage==4.5.1
django-debug-toolbar==1.9.1
ipython==6.4.0
pylint==1.9.2
setuptools==39.0.1
Sphinx==1.7.2
sphinx_issues==0.4.0
sphinx_rtd_theme==0.3.0
sphinxcontrib-napoleon==0.6.1
Werkzeug==0.14.1
