-r requirements.txt
bpython==0.17
coverage==4.5
django-debug-toolbar==1.9.1
pylint==1.8.2
setuptools==38.5.1
Sphinx==1.6.7
sphinx_issues==0.4.0
sphinx_rtd_theme==0.2.4
sphinxcontrib-napoleon==0.6.1
Werkzeug==0.14.1
