-r requirements.txt
coverage==4.5.1
ipython==7.1.1
django-debug-toolbar==1.10.1
setuptools==40.2.0
pylint==2.1.1
Sphinx==1.8.2
sphinx_issues==1.2.0
sphinx_rtd_theme==0.4.2
sphinxcontrib-napoleon==0.7
Werkzeug==0.14.1
