django==2.1
django-appconf==1.0.2
django-compressor==2.2
django-environ==0.4.5
django-extensions==2.1.0
factory_boy==2.11.1
psycopg2-binary==2.7.5
python-memcached==1.59
pytz==2018.5
six==1.11
tzlocal==1.5.1
