{% extends "main/layout.html" %}{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Password change' %}</h2>
    </div>
    <p class="lead">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="alert alert-danger" role="alert">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}
            <div class="form-group row">
                <label for="oldPassword" class="col-sm-2 col-form-label">{{ form.old_password.label }}</label>
                <div class="col-sm-10">
                    <input type="password" name="{{ form.old_password.name }}" id="oldPassword" class="form-control" required>
                    {% if form.old_password.errors %}
                        <span class="form-text text-danger">{{ form.old_password.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="new_password1" class="col-sm-2 col-form-label">{{ form.new_password1.label }}</label>
                <div class="col-sm-10">
                    <input type="password" name="{{ form.new_password1.name }}" id="new_password1" class="form-control" aria-describedby="password1HelpBlock" required>
                    {% if form.new_password1.errors %}
                        <span class="form-text text-danger">{{ form.new_password1.errors|striptags }}</span>
                    {% endif %}
                    <small class="form-text text-muted" id="password1HelpBlock">
                        {{ form.new_password1.help_text | safe }}
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="new_password2" class="col-sm-2 col-form-label">{{ form.new_password2.label }}</label>
                <div class="col-sm-10">
                    <input type="password" name="{{ form.new_password2.name }}" id="new_password2" class="form-control" required>
                    {% if form.new_password2.errors %}
                        <span class="form-text text-danger">{{ form.new_password2.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="submit-row float-sm-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Change my password' %}
            </button>
        </div>
    </form>

{% endblock %}
