{% load i18n %}
<nav class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
    <div class="list-group border-0 card text-center text-md-left">

        <a href="{% url 'profile' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="d-none d-md-inline">{% trans 'Profile' %}</span> </a>
        <a href="{% url 'password_change' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
            <i class="fa fa-key" aria-hidden="true"></i>
            <span class="d-none d-md-inline">{% trans 'Password change' %}</span>
        </a>

        <a href="{% url 'advertiser-list' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <span class="d-none d-md-inline">{% trans 'Customers' %}</span> </a>

        <a href="{% url 'representative-list' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="d-none d-md-inline">{% trans 'Representatives' %}</span>
        </a>

        <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-dashboard"></i>
            <span class="d-none d-md-inline">Item 1</span> </a>
        <div class="collapse" id="menu1">
            <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
            <div class="collapse" id="menu1sub1">
                <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
                <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
                <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
                <div class="collapse" id="menu1sub1sub1">
                    <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                    <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
                </div>
                <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
                <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
                <div class="collapse" id="menu1sub1sub2">
                    <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                    <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
                </div>
            </div>
            <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
        </div>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i>
            <span class="d-none d-md-inline">Item 2</span></a>
        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i>
            <span class="d-none d-md-inline">Item 3 </span></a>
        <div class="collapse" id="menu3">
            <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
            <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
            <div class="collapse" id="menu3sub2">
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
            </div>
            <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
        </div>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i>
            <span class="d-none d-md-inline">Item 4</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i>
            <span class="d-none d-md-inline">Item 5</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i>
            <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-star"></i>
            <span class="d-none d-md-inline">Link</span></a>
    </div>
</nav>
