{% extends 'main/layout.html' %}{% load i18n staticfiles compress %}
{% block title %}{% trans 'Customer add' %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Customer add' %}</h2>
    </div>
    <p class="lead">{% trans "New Customer." %}</p>
    <hr>
    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Autocomplete search
        </div>
        <div id="type-selector" class="pac-controls">
          <input type="radio" name="type" id="changetype-all" checked="checked">
          <label for="changetype-all">All</label>

          <input type="radio" name="type" id="changetype-establishment">
          <label for="changetype-establishment">Establishments</label>

          <input type="radio" name="type" id="changetype-address">
          <label for="changetype-address">Addresses</label>

          <input type="radio" name="type" id="changetype-geocode">
          <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
          <input type="checkbox" id="use-strict-bounds" value="">
          <label for="use-strict-bounds">Strict Bounds</label>
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location">
      </div>
    </div>
    <div id="map" class="h-100 w-100"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
    <form method="post">
        {% csrf_token %}
        <div>
            {% if messages %}
                <div class="alert alert-success">
                    <ul class="list-unstyled">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
                <p class="alert alert-danger" role="alert">
                    {% if form.errors.items|length == 1 %}
                        {% trans "Please correct the error below." %}
                    {% else %}
                        {% trans "Please correct the errors below." %}
                    {% endif %}
                </p>
            {% endif %}
            <div class="row">
            <div class="col-md-6">
            <fieldset class="form-group">
                <legend>{% trans 'Customer' %}</legend>
                {% for field in form %}
                    {% if field.field.widget.input_type == 'hidden' %}
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}">
                    {% else %}
                    <div class="form-group row">
                        <label for="id_{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {% if field.field.widget.input_type == 'checkbox' %}
                                <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" aria-describedby="{{ field.name }}HelpBlock"{% if field.value == True %} checked{% endif %}>
                            {% else %}
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" aria-describedby="{{ field.name }}HelpBlock" value="{% if field.value %}{{ field.value }}{% endif %}"{% if field.field.required %} required{% endif %}>
                            {% endif %}
                            {% if field.errors %}
                                <span class="form-text text-danger">{{ field.errors|striptags }}</span>
                            {% endif %}
                            <small class="form-text text-muted" id="{{ field.name }}HelpBlock">
                                {{ field.help_text | safe }}
                            </small>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            </div>
            <div class="col-md-6">
            </div>
            </div>
            <fieldset class="form-group">
                <legend>{% trans 'Address' %}</legend>
                {{ address_form_set.management_form }}
                {% for inline_form in address_form_set %}
                    {% if inline_form.errors %}
                        <p class="alert alert-danger" role="alert">
                            {% if inline_form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
                        </p>
                    {% endif %}
                    {% for field in inline_form %}
                        {% if field.field.widget.input_type == 'hidden' %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}">
                        {% else %}
                        <div class="form-group row">
                            <label for="id_{{ inline_form.prefix }}-{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {% if field.field.widget.input_type == 'checkbox' %}
                                    <input type="checkbox" name="{{ inline_form.prefix }}-{{ field.name }}" id="id_{{ inline_form.prefix }}-{{ field.name }}" class="form-control" aria-describedby="{{ inline_form.prefix }}-{{ field.name }}HelpBlock"{% if field.value == True %} checked{% endif %}>
                                {% else %}
                                    <input type="{{ field.field.widget.input_type }}" name="{{ inline_form.prefix }}-{{ field.name }}" id="id_{{ inline_form.prefix }}-{{ field.name }}" class="form-control" aria-describedby="{{ inline_form.prefix }}-{{ field.name }}HelpBlock" value="{% if field.value %}{{ field.value }}{% endif %}"{% if field.field.required %} required{% endif %}>
                                {% endif %}
                                {% if field.errors %}
                                    <span class="form-text text-danger">{{ field.errors|striptags }}</span>
                                {% endif %}
                                <small class="form-text text-muted" id="{{ inline_form.prefix }}-{{ field.name }}HelpBlock">
                                    {{ field.help_text | safe }}
                                </small>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </fieldset>
            <fieldset class="form-group">
                <legend>{% trans 'Billing Address' %}</legend>
                {{ billing_address_form_set.management_form }}
                {% for inline_form in billing_address_form_set %}
                    {% if inline_form.errors %}
                        <p class="alert alert-danger" role="alert">
                            {% if inline_form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
                        </p>
                    {% endif %}
                    {% for field in inline_form %}
                        {% if field.field.widget.input_type == 'hidden' %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}">
                        {% else %}
                        <div class="form-group row">
                            <label for="id_{{ inline_form.prefix }}-{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {% if field.field.widget.input_type == 'checkbox' %}
                                    <input type="checkbox" name="{{ inline_form.prefix }}-{{ field.name }}" id="id_{{ inline_form.prefix }}-{{ field.name }}" class="form-control" aria-describedby="{{ inline_form.prefix }}-{{ field.name }}HelpBlock"{% if field.value == True %} checked{% endif %}>
                                {% else %}
                                    <input type="{{ field.field.widget.input_type }}" name="{{ inline_form.prefix }}-{{ field.name }}" id="id_{{ inline_form.prefix }}-{{ field.name }}" class="form-control" aria-describedby="{{ inline_form.prefix }}-{{ field.name }}HelpBlock" value="{% if field.value %}{{ field.value }}{% endif %}"{% if field.field.required %} required{% endif %}>
                                {% endif %}
                                {% if field.errors %}
                                    <span class="form-text text-danger">{{ field.errors|striptags }}</span>
                                {% endif %}
                                <small class="form-text text-muted" id="{{ inline_form.prefix }}-{{ field.name }}HelpBlock">
                                    {{ field.help_text | safe }}
                                </small>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
        <div class="submit-row float-sm-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans 'save' %}
            </button>
        </div>
    </form>
    {% compress js %}
        <script src="{% static 'src/js/google_map.js' %}" type="application/javascript"></script>
    {% endcompress %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
