{% extends "base.html" %}{% load i18n compress %}

{% block title %}{% trans '403 permission error' %}{% endblock %}
{% block layout_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>{% trans '403 Access Denied' %}</h2>
                    <div class="error-details">
                        {% if exception %}
                            {{ exception }}
                        {% else %}
                            {% trans "The requested resource requires an authentication." %}
                        {% endif %}
                    </div>
                    <div class="error-actions">
                        {% if exception %}
                            <a href="javascript:history.back()" class="btn btn-info btn-lg">
                                <span class="fa fa-home"></span> {% trans 'back' %}
                            </a>
                        {% else %}
                            <a href="{% url 'main' %}" class="btn btn-info btn-lg">
                                <span class="fa fa-home"></span> {% trans 'take me home' %}
                            </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}