{% load staticfiles %}{% load compress %}{% load i18n %}{% load helpers %}<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="" rel="icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
        <link href="{% static 'libs/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" charset="utf-8">
        <link href="{% static 'libs/node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" charset="utf-8">
        <link href="{% static 'src/css/main.css' %}" rel="stylesheet" charset="utf-8">
    {% endcompress %}
</head>
<body>
{% block layout_content %}{% endblock %}
{% compress js %}
    <script src="{% static 'libs/node_modules/jquery-slim/dist/jquery.slim.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'libs/node_modules/popper.js/dist/umd/popper.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'libs/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="application/javascript"></script>
{% endcompress %}
</body>
</html>
