{% extends 'main/layout.html' %}{% load i18n %}
{% block title %}{% trans 'Representative list' %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Representative list' %}</h2>
    </div>
    <p class="lead">{% trans "All representative list." %}</p>
    <hr>
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li
                            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p class="mb-2 text-right">
        <a class="btn btn-info" href="{% url 'representative-add' %}">+</a>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{% trans 'First name' %}</th>
            <th scope="col">{% trans 'Last name' %}</th>
            <th scope="col">{% trans 'Phone' %}</th>
            <th scope="col" class="text-center">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for representative in object_list %}
            <tr>
                <td>{{ representative.first_name }}</td>
                <td>{{ representative.last_name }}</td>
                <td>{{ representative.phone }}</td>
                <td class="text-center">
                    <a href="{% url 'representative-update' pk=representative.pk %}" class="btn btn-primary">
                        <span class="fa fa-edit" aria-hidden="true"></span>
                        <span>{% trans 'edit' %}</span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
