{% extends 'main/layout.html' %}{% load i18n %}
{% block title %}{% trans 'Representative add' %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Representative add' %}</h2>
    </div>
    <p class="lead">{% trans "New representative." %}</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div>
            {% if messages %}
                <div class="alert alert-success">
                    <ul class="list-unstyled">
                        {% for message in messages %}
                            <li
                                    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if form.errors %}
                <p class="alert alert-danger" role="alert">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="id_{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {% if field.field.widget.input_type == 'checkbox' %}
                            <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" aria-describedby="{{ field.name }}HelpBlock"
                                    {% if field.value == True %} checked{% endif %}>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" aria-describedby="{{ field.name }}HelpBlock" value="{% if field.value %}{{ field.value }}{% endif %}"{% if field.field.required %} required{% endif %}>
                        {% endif %}
                        {% if field.errors %}
                            <span class="form-text text-danger">{{ field.errors|striptags }}</span>
                        {% endif %}
                        <small class="form-text text-muted" id="{{ field.name }}HelpBlock">
                            {{ field.help_text | safe }}
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="submit-row float-sm-right">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> {% trans 'save' %}
            </button>
        </div>
    </form>
{% endblock %}
